<div class="ui red card" id ="{{name}}">
  <div class="image">
    <img src="{{image}}">
  </div>
  <div class="content">
    <a class="header">{{company}}</a>
    

    
    <div class="description">
       {{headquaters}}
    </div>
      <div class="meta">
      <span class="date">Founded in {{founded}}</span>
   </div>
   
    <div class ="website">
     <a target = "_blank" href = "{{website}}">Website</a>
    </div>
      
  </div>
 
 
  </div>

